<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240212426341-0onkgbggmh0fh80lo10id5v20ecukn15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240212426341-0onkgbggmh0fh80lo10id5v20ecukn15</string>
	<key>API_KEY</key>
	<string>AIzaSyCYM5HKzJZxdnVscPGHJfbBj9XHBpMCivA</string>
	<key>GCM_SENDER_ID</key>
	<string>240212426341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>innocenzolocher.InnocenzoLocherCSC4480</string>
	<key>PROJECT_ID</key>
	<string>innocenzolochercsc4480</string>
	<key>STORAGE_BUCKET</key>
	<string>innocenzolochercsc4480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240212426341:ios:88da01491a21872299508c</string>
	<key>DATABASE_URL</key>
	<string>https://innocenzolochercsc4480.firebaseio.com</string>
</dict>
</plist>